* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --navbar-height: 59px;
}

#navbar {
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;

}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 90%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#logo {
    margin: 10px 34px;
}

#logo img {
    height: 43px;
    margin: 3px 6px;
}

#navbar ul {
    display: flex;
    font-family: "Bree Serif", serif;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}

#nav-buttons {
    display: flex;
    margin-left: auto;
    padding: 20px;
    gap: 15px;
}

.no-underline {
    text-decoration: none;
    color: inherit;
}

#nav-buttons button {
    padding: 8px 20px;
    border: 1px solid transparent;
    background-color: #8b8888;
    font-weight: bold;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.login-btn {
    background-color: #2c3e50;
}

.signup-btn {
    background-color: #e74c3c;
}

#nav-buttons button:hover {
    border: 1px solid #ffffff;
    transform: translateY(-3px);
    background-color: #7bc2fc;
    color: rgb(0, 0, 0);
}

#nav-buttons button a {
    display: block;
    width: 100%;
    height: 100%;
}

.dropdown {
    position: relative;
}

.dropbtn {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1b1b1b;
    font-size: 16px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 15px 20px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #000000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

body {
    background-color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
    z-index: 2;
    background-color: #494949;
}

.logo img {
    width: 80px;
}

.main-nav {
    flex-grow: 1;
    text-align: center;
    padding: 5px 10px;
    font-size: 20px;
}

.main-nav ul {
    list-style: none;
    display: inline-flex;
    gap: 30px;
}

.main-nav ul li a {
    color: white;
    text-decoration: none;
}

.main-nav ul li a:hover {
    border-radius: 5px;
    color: rgb(0, 183, 255);
}

.auth-nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.auth-nav ul li a {
    color: white;
    text-decoration: none;
}

.auth-nav ul li a:hover {
    background-color: rgb(0, 119, 255);
    padding: 5px 5px;
    border-radius: 5px;
}

.heading {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
    font-family: "Poppins", sans-serif;
}

.heading h1 {
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
}

.heading h1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #4caf50;
}

.heading p {
    font-size: 18px;
    color: #666;
    margin-bottom: 35px;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.image {
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.image img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
    border-radius: 25px;
}

.image:hover img {
    transform: scale(1.2);
}

.aboutcontent {
    flex: 1;
}

.aboutcontent h2 {
    font-size: 23px;
    margin-bottom: 15px;
    color: #333;

}

.aboutcontent p {
    font-size: 18px;
    line-height: 1.5;
    color: #666;
}

.aboutcontent .readmore {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #3e8e41;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
}

.aboutcontent .readmore:hover {
    background-color: rgb(0, 110, 255)
}

@media screen and (max-width: 768px) {
    .heading {
        padding: 0px 20px;
    }

    .heading h1 {
        font-size: 36px;
    }

    .heading p {
        font-size: 17px;
        margin-bottom: 0px;
    }

    .container {
        padding: 0px;
    }

    .about {
        padding: 20px;
        flex-direction: column;
    }

    .image {
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .aboutcontent p {
        padding: 0px;
        font-size: 16px;
    }

    .aboutcontent .readmore {
        font-size: 16px;
    }

}